button {
  display: flex;
  padding: 14px 34px;
  align-items: center;
  gap: 8px;
  color: var(--absolute-white, #fff);
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
