@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600&family=Be+Vietnam+Pro:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap");
.header {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}
.header .header_left {
  fill: var(--absolute-white, #fff);
  display: flex;
}
.header .header_left .img_up {
  margin: auto;
}
.header .header_center {
  gap: 30px;
  display: flex;
  align-items: center;
  transition: all ease 0.6s;
}
.header .header_center .btn {
  color: var(--grey-90, #e6e6e6);
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  border: none;
  transition: all ease 0.6s;
}
.header .header_center .btn:hover {
  display: flex;
  padding: 14px 24px;
  align-items: flex-start;
  border-radius: 8px;
  background: var(--grey-15, #262626);
  transition: all ease 0.6s;
}
.header .header_right .btn_active {
  color: var(--grey-15, #262626);
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  border-radius: 8px;
  background: var(--green-50, #9eff00);
  display: flex;
  padding: 16px 24px;
  align-items: center;
}
.header .our_service .img_bottom {
  border: 1px solid var(--grey-15, #262626);
  background: linear-gradient(0deg, rgba(172, 255, 36, 0.2) 0%, rgba(172, 255, 36, 0.2) 100%), url(<path-to-image>), lightgray 0% 0%/100px 100px repeat, url(<path-to-image>), lightgray 50%/cover no-repeat;
  background-blend-mode: color, normal, overlay;
}

.design {
  display: flex;
  width: 1596px;
  padding-top: 100px;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--grey-15, #262626);
}
.design .design_inside {
  display: flex;
  padding: 0px 50px;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  align-self: stretch;
}
.design .design_inside h1 {
  align-self: stretch;
  color: var(--absolute-white, #fff);
  font-family: Barlow;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.design .design_inside p {
  align-self: stretch;
  color: var(--grey-90, #e6e6e6);
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.108px;
}
.design .design_inside .btn_our {
  color: var(--absolute-white, #fff);
  font-family: Barlow;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  padding: 12px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--grey-15, #262626);
  border: none;
  margin-bottom: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Barlow;
  background: var(--grey-10, #1a1a1a);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1920px;
  width: 100%;
  padding: 0 auto;
  margin: 0 auto;
}

.container_2 {
  max-width: 1596px;
  width: 100%;
  padding: 0 auto;
  margin: 0 auto;
}

.hero .cards {
  border: 1px solid var(--grey-15, #262626);
}
.hero .cards h1 {
  flex: 1 0 0;
  color: var(--grey-60, #98989a);
  font-family: Barlow;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 50px 50px;
}
.hero .cards .cards_all {
  display: flex;
}
.hero .cards .cards_all .card {
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  flex: 1 0 0;
  border: 1px solid var(--grey-15, #262626);
}
.hero .cards .cards_all .card p {
  align-self: stretch;
  color: var(--grey-90, #e6e6e6);
  font-family: Barlow;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.12px;
}
.hero .cards .cards_all .card .img_div {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid var(--grey-15, #262626);
  background: linear-gradient(131deg, rgba(158, 255, 0, 0.2) -66.81%, rgba(158, 255, 0, 0) 37.19%);
}

.end_service {
  border: 1px solid var(--grey-15, #262626);
}

.footer .display_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  margin: 50px 0px 50px 0px;
}
.footer .display_footer .footer_left {
  display: flex;
}
.footer .display_footer .footer_left .img_up {
  margin: auto;
}
.footer .display_footer .footer_center .ul_div {
  color: var(--grey-90, #E6E6E6);
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  display: flex;
  gap: 30px;
}
.footer .display_footer .footer_right {
  display: flex;
  padding: 14px 14px 14px 24px;
  align-items: center;
  gap: 20px;
  border-radius: 12px;
  border: 1px solid var(--grey-15, #262626);
}
.footer .display_footer .footer_right p {
  color: var(--grey-90, #E6E6E6);
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.footer .display_footer .footer_right .card_one {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #2E2E2E;
  background: linear-gradient(180deg, #242424 0%, rgba(36, 36, 36, 0) 100%);
}
.footer .display_footer .footer_right .card_two {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #2E2E2E;
  background: linear-gradient(180deg, #242424 0%, rgba(36, 36, 36, 0) 100%);
}
.footer .display_footer .footer_right .card_three {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #2E2E2E;
  background: linear-gradient(180deg, #242424 0%, rgba(36, 36, 36, 0) 100%);
}
.footer .line {
  width: 1596px;
  height: 1px;
  background: #262626;
  margin-bottom: 50px;
}
.footer .footer_end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  margin-bottom: 50px;
}
.footer .footer_end p {
  color: var(--grey-60, #98989A);
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.footer .footer_end .end_section {
  display: flex;
  gap: 30px;
  align-items: center;
}
.footer .footer_end .end_section p {
  color: var(--grey-90, #E6E6E6);
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.footer .footer_end .end_section .gmail {
  display: flex;
  gap: 10px;
  padding-bottom: 16px;
  align-items: center;
  border-bottom: 1px solid var(--grey-15, #262626);
}
.footer .footer_end .end_section .phone {
  display: flex;
  gap: 10px;
  padding-bottom: 16px;
  align-items: center;
  border-bottom: 1px solid var(--grey-15, #262626);
}
.footer .footer_end .end_section .local {
  display: flex;
  gap: 10px;
  padding-bottom: 16px;
  align-items: center;
  border-bottom: 1px solid var(--grey-15, #262626);
}

@media (max-width: 576px) {
  * {
    font-size: 14px;
  }
}/*# sourceMappingURL=main.css.map */